
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'ADTAA/loginReg_style.css' %}" />

<!DOCTYPE html>
<html lang="en">
<head>
  <title>ADTAA Home Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="height:1500px">

{% if user == "scheduler" %}
  {% include 'ADTAA/schedulerNav.html' %}
    {% elif user == "admin" %}
        {% include 'ADTAA/adminNav.html' %}
        {% elif user == "root" %}
            {% include 'ADTAA/rootNav.html' %}
{% endif %}

</body>