
{% load static %}
<link rel="shortcut icon" type="image/png" href="{% static 'favicon2.png' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'ADTAA/loginReg_style.css' %}" />
<!DOCTYPE html>
<html lang="en">
<head>
  <title>ADTAA Login Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<form method="POST" action="{{ request.path }}">


    {% if error %}
    <div>
        <h2>{{ error }}</h2>

    </div>
    {% endif %}

    {% csrf_token %}
 {% if messages %}
        <div class="messages">
        {% for message in messages %}
            <h2{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h2>
        {% endfor %}
    {% endif %}
<body class="index">
<div class="login-page">
    <div class="form">
        <form class="login-form">
            <img src="/static/ADTAAlogo.png" style="width: 170px; length: 170px;" alt="ADTAAlogo"/>
            <input type="text" id="email" name="email" placeholder="Username"/>
            <input type="password" id="password" name="password" placeholder="Password"/>
            <button>Login</button>
            <p class="message">Not Registered? <a href="http://127.0.0.1:8000/ADTAA/reg">Create an account</a></p>
              <p class="message">Forgot Password? <a href="http://127.0.0.1:8000/ADTAA/password">Change Password</a></p>
            <div style="margin-top: 4%;">
            <img src="/static/logo.png" style="width: 60px; length: 60px;" alt="logo"/>
            </div>
        </form>
    </div>
</div>
</body>

</form>
