
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'ADTAA/loginReg_style.css' %}" />

<form method="POST" action="{{ request.path }}">


    {% if error %}
    <div>
        <h2>{{ error }}</h2>

    </div>
    {% endif %}

    {% csrf_token %}
<body class="index">
<div class="login-page">
    <div class="form">
        <form class="login-form">
            <img src="/static/ADTAAlogo.png" style="width: 170px; length: 170px;" alt="ADTAAlogo"/>
            <input type="text" id="email" name="email" placeholder="Username"/>
            <input type="password" d="password" name="password" placeholder="Password"/>
            <button>Login</button>
            <p class="message">Not Registered? <a href="http://127.0.0.1:8000/ADTAA/reg">Create an account</a></p>
              <p class="message">Forgot Password? <a href="http://127.0.0.1:8000/ADTAA/password">Change Password</a></p>
            <img src="/static/logo.png" style="width: 60px; length: 60px;" alt="logo"/>
        </form>
    </div>
</div>
</body>

</form>