{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'ADTAA/loginReg_style.css' %}" />
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Set Up Instructor</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body style="height:1500px; overflow: hidden;">
{% if user_type == "admin" %}
    {% include 'ADTAA/adminNav.html' %}
        {% elif user_type == "root" %}
            {% include 'ADTAA/rootNav.html' %}
{% endif %}
</body>

<div class="reg-page" style="padding-top: 5%;">
    <div class="form">
        <form class="register-form">
            <h1>Add New Instructor</h1>
            <input type="instrID" placeholder="Instructor ID"/>
            <input type="instrName" placeholder="Last Name"/>
            <input type="maxLoad" placeholder="Maximum Load of Classes" />
            <input type="instrDiscipline" placeholder="Area of Discipline"/>
            <button>Add Instructor</button>
            <p class="message"><a href="http://127.0.0.1:8000/ADTAA/">Edit Instructor?</a>
            {% include 'ADTAA/footer.html' %}
        </form>
    </div>
</div>

