{% load static %}
<link rel="shortcut icon" type="image/png" href="{% static 'favicon2.png' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'ADTAA/loginReg_style.css' %}" />
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Change Password</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<form method="POST" action="{{ request.path }}">


    {% if error %}
    <div>
        <h2>{{ error }}</h2>

    </div>
    {% endif %}

    {% csrf_token %}

<div class="reg-page">
    <div class="form">
        <form class="register-form">
            <h1>Change Password</h1>
            {{ password_form.as_p }}
            <button>Submit</button>
             <p class="message"> Create a Secure Password?
	                <a class="button" href="#popup1">Password Rules</a>
                </p>

                <div id="popup1" class="overlay">
	                <div class="popup">
		                <h2>Password Rules</h2>
                            <a class="close" href="#">&times;</a>
		                <div class="content">
                            <ul style="text-align: left">
                                <li> Minimum 8 Characters </li>
                                <li> At Least One Letter (A-Z) </li>
                                <li> At Least One Number (0-9) </li>
                                <li> At Least One Special Character (e.g., ! $ # %) </li>
                            </ul>
		                </div>
	                </div>
                </div>
                </br>
                {% include 'ADTAA/footer.html' %}
        </form>
    </div>
</div>


</form>


