{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'ADTAA/loginReg_style.css' %}" />
<form method="POST" action="{{ request.path }}">


    {% if error %}
    <div>
        <h2>{{ error }}</h2>

    </div>
    {% endif %}

    {% csrf_token %}

<div class="reg-page">
    <div class="form">
        <form class="register-form">
            <h1>Change Password</h1>
            <input type="password" id="password" name="password"placeholder="Type New Password Here"/>
            <button>Submit</button>
        </form>
    </div>
</div>

</form>