{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'ADTAA/loginReg_style.css' %}" />


<form method="POST" action="{{ request.path }}">


    {% if error %}
    <div>
        <h2>{{ error }}</h2>

    </div>
    {% endif %}

    {% csrf_token %}


<body style="overflow: hidden;">
    <div class="reg-page" style="padding-top: 1%;">
         <div class="form">
            <form class="register-form">
                <h1>Registration Page</h1>
                 {{ registration_form.as_table }}
                <button  type="submit">Register</button>

                <p class="message"> Create a Secure Password?
	                <a class="button" href="#popup1">Password Rules</a>
                </p>

                <div id="popup1" class="overlay">
	                <div class="popup">
		                <h2>Secure Password Rules</h2>
                            <a class="close" href="#">&times;</a>
		                <div class="content">
                            <ul style="text-align: left">
                                <li> Minimum 8 Characters </li>
                                <li> At Least One Letter (A-Z) </li>
                                <li> At Least One Number (0-9) </li>
                                <li> At Least One Special Character (e.g., ! $ # %) </li>
                            </ul>
		                </div>
	                </div>
                </div>

                <p class="message">Already Registered? <a href="http://127.0.0.1:8000/ADTAA/">Sign In</a></p>

                </br>
                {% include 'ADTAA/footer.html' %}
            </form>
        </div>
    </div>
</body>
</form>