{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'ADTAA/loginReg_style.css' %}" />


<form method="POST" action="{{ request.path }}">


    {% if error %}
    <div>
        <h2>{{ error }}</h2>

    </div>
    {% endif %}

    {% csrf_token %}



<div class="reg-page">
    <div class="form">
        <form class="register-form">
            <h1>Registration Page</h1>
            <select id="userType" name="userType">
                <option value="" disabled selected>Select a User Type</option>
                <option value="admin">Admin</option>
                <option value="scheduler">Scheduler</option>
            </select>
            <input type="text" id="email" name="email" placeholder="Email"/>
            <input type="text" id="firstName" name="firstName" placeholder="First Name"/>
            <input type="text" id="lastName" name="lastName" placeholder="Last Name"/>
            <input type="secQuestion1" id="question1" name="question1" placeholder="What primary school did you attend?"/>
            <input type="secQuestion2" id="question2" name="question2" placeholder="What is street did you live on as a child?"/>
            <button  type="submit">Register</button>
            <p class="message">Already registered? <a href="http://127.0.0.1:8000/ADTAA/">Sign In</a></p>
        </form>
    </div>
</div>

</form>