{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'ADTAA/loginReg_style.css' %}" />


<form method="POST" action="{{ request.path }}">


    {% if error %}
    <div>
        <h2>{{ error }}</h2>

    </div>
    {% endif %}

    {% csrf_token %}


<body style="overflow: hidden;">
    <div class="reg-page" style="padding-top: 3%;">
         <div class="form">
            <form class="register-form">
                <h1>Registration Page</h1>
                 {{ registration_form.as_table }}
                <button  type="submit">Register</button>
                <p class="message">Already registered? <a href="http://127.0.0.1:8000/ADTAA/">Sign In</a></p>
                </br>
                {% include 'ADTAA/footer.html' %}
            </form>
        </div>
    </div>
</body>
</form>