{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'ADTAA/loginReg_style.css' %}" />


<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">

    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/ADTAA/rootHome/"><img src="/static/home.png" style="width: 20px; length:20px;" alt="homeLogo" /></a></li>
        <li><a href="/ADTAA/regRequests/">Registration Requests</a></li>
        <li><a href="/ADTAA/instrSetup/">Set Up Instructors</a></li>
      <li><a href="/ADTAA/classSetup/">Set Up Classes</a></li>
    </ul>
  </div>
</nav>
