{% load static %}
<link rel="shortcut icon" type="image/png" href="{% static 'favicon2.png' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'ADTAA/loginReg_style.css' %}" />
<!DOCTYPE html>
<html lang="en">

<head>

  <title>ADTAA Home Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    </style>

</head>
<body style="height:1500px;">

    {% include 'ADTAA/schedulerNav.html' %}

</body>

<div class="reg-page" style="padding-top: 6%;">
    <div class="form" style="max-width: 75%; margin-bottom: 2%;">
        <form class="register-form">
            <h1>Instructors</h1>
             <table>
                    <tr>
                        <th style="background-color: #d3d3d3">ID</th>
                        <th style="background-color: #d3d3d3">Last Name</th>
                    </tr>
                    {% for instances in instructors %}
                    <tr>
                        <td><a href={% url 'instructorProfile' instances.id %} <b> {{ instances }} </b> </a></td>
                        <td><a href={% url 'instructorProfile' instances.id %} <b> {{ instances.last_name }} </b> </a></td>
                    </tr>
             {% endfor %}
             </table>
        </form>
    </div>
     <div class="form" style="max-width: 75%;">
        <form class="register-form" method="post">
        {% csrf_token %}
            <h1>Classes</h1>

            <table>
                    <tr>
                        <th style="background-color: #d3d3d3">Number</th>
                        <th style="background-color: #d3d3d3">Title</th>
                    </tr>
                    {% for instances in classes %}
                        <tr>
                        <td><a href={% url 'classProfile' instances.id %} <b> {{ instances }} </b> </a></td>
                        <td><a href={% url 'classProfile' instances.id %} <b> {{ instances.course_title }} </b> </a></td>
                        </tr>
                    {% endfor %}
            </table>
        </form>
    </div>
</div>