
{% load static %}
<link rel="shortcut icon" type="image/png" href="{% static 'favicon1.png' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'ADTAA/loginReg_style.css' %}" />


<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">

    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/ADTAA/schedulerHome/"><img src="/static/home.png" style="width: 20px; length:20px;" alt="homeLogo" /></a></li>
        <li><a href="/ADTAA/editSolutions/">Edit Solutions</a></li>
        <li><a href="/ADTAA/generateSolutions/">Generate Solutions</a></li>
        <li style="position: absolute; left: 82%;"><a href="/ADTAA/userPage/">Hi {{ user }}!</a></li>
         <li class="pull-right" style="position: absolute; left: 95%;"><a href="{% url 'logout' %}"><img src="/static/powerbutton.png" style="width: 20px; length:20px;" alt="powerbutton" /></a></li>
    </ul>
  </div>
</nav>
